
.aside__list {
  list-style: none;
}
.header {
  background-color: #fff;
  position: sticky;
  top: 0;
}

.faq-section {
  position: relative;
  overflow: hidden;
}
.faq-section .heading {
  padding: clamp(35px, 5.52vw, 106px) 0 clamp(20px, 5.21vw, 101px)
    clamp(20px, 3.5vw, 68px);
  background: linear-gradient(to right, #e6edec 1%, #99ddc9 100%);
}
.faq-section h2 {
  font-size: clamp(20px, 4.167vw, 80px);
}
.faq-section .heading img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  /* width: clamp(100px, 58.1vw, 1114px);
   */
  width: 66%;
  height: auto;
}
.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  color: #111111 !important;
}
.accordion-button:focus {
  outline: none !important;
  box-shadow: none !important;
}
.faq-accordions-section {
  overflow-x: hidden;
  overflow-y: hidden;
}
.faq-accordions-section .faq-accordion-container {
  width: 55%;
  margin: 0 auto;
  margin-top: 6%;
}
.faq-accordian-header {
  font-size: 18px !important;
  gap: 2rem;
}
.faq-accordian-body {
  font-size: 16px !important;
  color: #666666 !important ;
}
.faq-description-headers {
  font-weight: 500;
}
.accordion-button::after {
  background-image: url("../images/downarrow.png") !important;
}
/*Start Section */
.start-section {
  background-color: var(--banner-color);
  padding: clamp(20px, 4.45vw, 4.45vw) 0 clamp(20px, 4.45vw, 4.45vw);
  position: relative;
}
.start-section .start-content-container {
  position: relative;
  z-index: 3;
}
.start-section h2 {
  font-size: var(--lg-font-size);
  text-align: center;
  margin-bottom: clamp(10px, 0.88vw, 16px);
}
.start-content-desc {
  font-size: clamp(12px, 0.886vw, 17px);
  text-align: center;
  margin: 0 auto clamp(20px, 3vw, 3vw);
  width: 55%;
}

.start-btn-container {
  position: relative;
  gap: clamp(9px, 0.95vw, 18px);
  z-index: 2;
}
.playbook-btn {
  background-color: #e6edec !important;
}
.playbook-btn:active {
  background-color: var(--bs-btn-active-bg) !important;
}
.start-btn-container .btn {
  padding: clamp(4px, 0.47vw, 9px) clamp(10px, 2.12vw, 2.12vw);
}
.start-btn-container .btn {
  transition: 0.3s ease;
}

.start-bg-img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}
.copyright-container a {
  color: #111111 !important;
}

@media screen and (max-width: 1600px) {
  .faq-accordions-section .faq-accordion-container {
    width: 70%;
  }
}
@media screen and (max-width: 1400px) {
  .faq-accordions-section .faq-accordion-container {
    width: 75%;
  }
  @media screen and (max-width: 1280px) {
    .faq-accordions-section .faq-accordion-container {
      width: 80%;
    }
  }
  @media screen and (max-width: 1024px) {
    .faq-accordions-section {
      padding: 0 clamp(20px, 8vw, 8vw);
    }
    .faq-accordions-section .faq-accordion-container {
      width: 100%;
    }
    .faq-accordian-header {
      font-size: 17px !important;
    }
    .accordion-button::after {
      width: 22px !important;
      height: 22px !important;
    }
    .faq-accordian-body {
      font-size: 15px !important;
    }
    .start-section h2 {
      font-size: 16px;
    }
    .start-content-desc {
      width: 60%;
    }
  }
  @media screen and (max-width: 992px) {
    .start-content-desc {
      width: 75%;
    }
  }
  @media screen and (max-width: 768px) {
    .faq-accordions-section {
      padding: 0 clamp(20px, 5vw, 5vw);
    }
    .faq-accordian-header {
      font-size: 15px !important;
    }
    .faq-accordian-body {
      font-size: 13px !important;
    }
    .faq-accordian-body h5 {
      font-size: 16px;
    }
    .accordion-button::after {
      width: 20px !important;
      height: 20px !important;
      background-size: 18px !important;
    }
  }
}
@media screen and (max-width: 576px) {
  .footer-content-container {
    align-items: start !important;
  }
  .faq-accordian-body h5 {
    font-size: 14px;
  }
  .accordion-button::after {
    width: 17px !important;
    height: 17px !important;
    background-size: 17px !important;
  }
}

@media screen and (max-width: 480px) {
  .faq-accordian-header {
    font-size: 14px !important;
  }
  .accordion-button::after {
    width: 14px !important;
    height: 14px !important;
    background-size: 14px !important;
  }
  .faq-accordian-body {
    font-size: 12px !important;
  }
  .start-content-desc {
    width: 87.5%;
  }
   .start-btn-container {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .start-btn-container .btn {
    width: 180px;
    font-size: 11px;
  }
}

@media screen and (max-width: 390px) {
  .faq-accordian-header {
    gap: 25px;
  }
  .accordion-button {
    padding: 7px 0;
  }
  .faq-accordian-body {
    padding: 10px 0;
  }
  
}
