:root {
  --banner-color: #e6edec;
  --bg-color: #f6f6f6;
  --grey-color: #666666;
  --green-color: #00424a;
  --btn-hover-color: #424649;
  --input-bg-color: #f3f3f5;
  --black-color: #111111;
  --medium-font-size: clamp(12px, 0.94vw, 18px);
  --lg-font-size: clamp(14px, 1.6vw, 30px);
}
* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/lora-regular.woff2) format("woff2");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/poppins-regular.woff2) format("woff2");
}
html {
  scroll-behavior: smooth !important;
}
body {
  font-family: "Lora", serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
p {
  margin-bottom: 0;
}
.text-grey {
  color: var(--grey-color);
}

.ff-poppins {
  font-family: "Poppins", sans-serif;
}
.black-color {
  color: var(--black-color);
}

.btn {
  border-radius: 5px !important;
  font-size: var(--medium-font-size);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btn-dark {
  --bs-btn-bg: var(--black-color);
}
.btn-arrow-img {
  margin-left: clamp(5px, 0.7vw, 10px);
}
.transparent-btn:hover {
  background-color: transparent;
  color: var(--green-color);
  font-weight: 600 !important;
}


.hero-animate {
  opacity: 0;
  transform: translateY(50px);
}

.hero-animate.visible {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.8s ease-in;
}


.hero-content .hero-animate:nth-child(1) { transition-delay: 0.15s; }
.hero-content .hero-animate:nth-child(2) { transition-delay: 0.3s; }
.hero-content .hero-animate:nth-child(3) { transition-delay: 0.45s; }
.hero-content .hero-animate:nth-child(4) { transition-delay: 0.6s; }
.hero-content .hero-animate:nth-child(5) { transition-delay: 0.75s; }
.reveal {
  transform: translateY(20px);
  opacity: 0;
}


.speed {
  transition:all 0.5s ease-in;
}
.medium {
  transition:all  0.7s ease-in;
}
.slow {
  transition:all 1s ease-in;
}
.extra-slow {
  transition: all 1.2s ease-in;
}

.dead-slow {
  transition:  all 1.3s ease-in;
}
.slowest{
  transition:all  1.5s ease-in;
}

.delay-1{
  transition-delay: 0.1s;
}
.delay-2 { transition-delay: 0.2s; }
.delay-3 { transition-delay: 0.3s; }
.reveal.visible {
  transform: translateY(0);
  opacity: 1;
}

.reveal-card-text{
  opacity: 0;
  transform: translateY(20px);
}
.reveal-card-text.visible {
  transform: translateY(0);
  opacity: 1;
}

.reveal-opacity {
  opacity: 0;
  transition: opacity 0.8s ease-in;
}

.reveal-opacity.visible {
  opacity: 1;
}

.reveal-card {
  transform: scale(0);
  
}

.reveal-card.visible {
  transform: scale(1);
  transition: all 0.8s ease-in;
  transition-delay: 0.3s;
}

.reveal-left {
  transform: translateX(-20px);
  opacity: 0;
  transition: all 0.8s ease-in;
}
.reveal-left.extra-slow{
  transition: all 1.1s ease-in;
}
.reveal-right.extra-slow{
  transition: all 1.1s ease-in;
}
.reveal-left.visible {
  transform: translateX(0);
  opacity: 1;
}

.reveal-right {
  transform: translateX(20px);
  opacity: 0;
  transition: all 0.8s ease-in;
}

.reveal-right.visible {
  transform: translateX(0);
  opacity: 1;
}

.reveal-text {
  transform: translateY(40px);
  transition: transform 0.6s ease-in;
}

.reveal-text.visible {
  transform: translateY(0);
}

.reveal-header {
  overflow-y: hidden; 
  line-height: 1.3;
}

.reveal-header span {
  display: inline-block;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-in;
  will-change: opacity, transform;

}

.reveal-header.visible span {
  opacity: 1;
  transform: translateY(0);
}


.reveal-header.visible span:nth-child(1) { transition-delay: 0.1s; }
.reveal-header.visible span:nth-child(2) { transition-delay: 0.2s; }
.reveal-header.visible span:nth-child(3) { transition-delay: 0.3s; }
.reveal-header.visible span:nth-child(4) { transition-delay: 0.4s; }
.reveal-header.visible span:nth-child(5) { transition-delay: 0.5s; }
.reveal-header.visible span:nth-child(6) { transition-delay: 0.6s; }
.reveal-header.visible span:nth-child(7) { transition-delay: 0.7s; }
.reveal-header.visible span:nth-child(8) { transition-delay: 0.8s; }
.reveal-header.visible span:nth-child(9) { transition-delay: 0.9s; }
.reveal-header.visible span:nth-child(10) { transition-delay: 1s; }
.reveal-header.visible span:nth-child(11) { transition-delay: 1.1s;}
.reveal-header.visible span:nth-child(12) { transition-delay: 1.2s;}


.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 20;
}
.header.scrolled {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header.shadowed {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.header .navbar {
  padding: 11px clamp(10px, 2.5vw, 48px) 10px;
}
.navbar .navbar-nav {
  gap: clamp(10px, 1.85vw, 35px);
}
.header .navbar .navbar-nav .nav-item .nav-link {
  color: black;
  font-weight: 500;
  font-size: var(--medium-font-size);
}

.header .navbar .navbar-nav .nav-item .nav-link:hover,
.header .navbar .navbar-nav .nav-item .nav-link.active {
  color: var(--green-color);
  font-weight: 600 !important;
}
.header .navbar .dropdown-menu {
  border-radius: 0;
  border: none;
  width: clamp(120px, 17vw, 324px);
  padding: clamp(10px, 1.6vw, 30px);
  border-bottom: 3px solid var(--green-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.header .navbar .dropdown-menu[data-bs-popper] {
  margin-top: 0;
}
.header .navbar .dropdown-toggle::after {
  display: none;
}
.header .navbar .dropdown-item {
  padding: 10px 16px;
  font-size: clamp(11px, 0.84vw, 16px);
  white-space: wrap;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: clamp(7px, 0.84vw, 16px) 0;
  color: var(--black-color);
  line-height: clamp(13.5px, 1.2vw, 22px);
}
.header .navbar .dropdown-menu li:not(:last-child) .dropdown-item {
  border-bottom: 1px solid rgba(102, 102, 102, 0.2);
}

.header .navbar .dropdown-menu li:first-child .dropdown-item {
  padding-top: 0;
}

.header .navbar .dropdown-menu li:last-child .dropdown-item {
  padding-bottom: 0;
}

.header .navbar .dropdown-item:hover {
  color: var(--green-color);
  background-color: transparent !important;
}

.header .navbar .contact-btn {
  padding: clamp(3px, 0.38vw, 7px) clamp(9px, 2vw, 37.45px);
}

/*Footer */
footer {
  padding: clamp(20px, 5vw, 5vw) clamp(20px, 6.25vw, 120px)
    clamp(12px, 1vw, 1vw);
  margin: 0 auto;
}
.footer-content-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(102, 102, 102, 0.2);
  padding-bottom: clamp(20px, 2vw, 2vw);
}
.footer-logo-container {
  width: 45.8%;
}
.footer-logo-container .footer-logo {
  width: 9.3233vw;
}
.footer-logo-container p {
  font-size: clamp(12px, 0.88vw, 1rem);
  margin-top: clamp(10px, 1.3vw, 1.3vw);
  width: 19.48vw;
}
footer h3 {
  font-size: var(--medium-font-size);
  margin-bottom: clamp(12px, 0.88vw, 1rem);
  color: var(--black-color);
}

footer ul {
  list-style-type: none;
  padding-left: 0;
}
footer ul li {
  margin-bottom: 10px;
}
footer ul li a{
  font-size: clamp(11px, 0.88vw, 1rem);
}
footer ul li a,
.privacy-policy {
  color: var(--black-color);
  position: relative;
}
footer ul li a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--black-color);
  left: 0;
  bottom: -2px;
  transform: scale(0);
  transition: transform 0.3s ease;
}
footer ul li a:hover::after,
footer ul li a.active::after {
  transform: scale(1);
}
.footer-content-container .footer-contact-form-container {
  width: clamp(150px, 26.15vw, 502px);
}
.footer-content-container .footer-contact-form-container form {
  display: flex;
  justify-content: space-between;
  padding: 6px 5px;
  background-color: var(--bg-color);
  border-radius: 5px;
  border: 1px solid #1111;
}
.footer-content-container .footer-contact-form-container form input:focus{
  border: 1px solid var(--black-color);
}
.footer-content-container .footer-contact-form-container h3 {
  width: 90%;
  line-height: 1.55;
}
.footer-content-container .footer-contact-form-container form input {
  width: 19.4vw;
  padding-inline: 15px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: clamp(11px, 0.8vw, 14px);
}
.footer-content-container
  .footer-contact-form-container
  form
  input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-text-fill-color: var(--black-color);
  transition: background-color 5000s ease-in-out 0s;
}
.footer-content-container .footer-contact-form-container form button {
  padding: clamp(6px, 0.63vw, 12px) clamp(8px, 1.75vw, 33px);
  background-color: var(--black-color);
  border: none;
}
.footer-content-container .footer-contact-form-container form button:hover {
  background-color: var(--btn-hover-color);
}

.footer-contact-form-container .footer-input-error {
  color: var(--bs-form-invalid-color);
  font-size: clamp(12px, 0.8vw, 0.95rem);
  margin-top: clamp(6px, 0.54vw, 10px);
  visibility: hidden;
  font-weight: 500;
  height: clamp(36px, 2.38vw, 45.6px);
}
.footer-contact-form-container .footer-input-error.success {
  color: var(--green-color);
}
.footer-contact-form-container .footer-input-error.show {
  visibility: visible;
}
.copyright-container {
  display: flex;
  justify-content: space-between;
  font-size: clamp(11px, 0.8vw, 14px);
  padding-top: clamp(12px, 1.3vw, 25px);
}
.copyright-container div {
  display: flex;
  align-items: center;
}
.copyright-container div p {
  border-right: 1px solid rgb(102, 102, 102, 0.38);
  padding-right: clamp(10px, 1.1vw, 20px);
  color: var(--black-color);
}
.copyright-container div a.privacy-policy:hover, .copyright-container div a.privacy-policy.active{
  color: var(--green-color);
  font-weight: 600;
}
.copyright-container div a {
  margin-left: clamp(8px, 1.1vw, 20px);
}
.copyright-container .follow-icons {
  gap: 5px;
}
.copyright-container .follow-icons a {
  transition: transform 0.5s ease;
}
.copyright-container .follow-icons a:hover {
  transform: scale(1.12);
}
.go-top-btn {
  display: none;
  position: fixed;
  width: clamp(25px, 2.2vw, 42px);
  height: clamp(25px, 2.2vw, 42px);
  right: clamp(12px, 2.05vw, 39vw);
  bottom: 45px;
  z-index: 2;
  align-items: center;
  justify-content: center;
  background-color: var(--black-color);
  border-radius: 50%;
  border: none;
}
.go-top-btn.active {
  display: flex;
}
.go-top-btn.not-active {
  display: none;
}
.go-top-btn:hover {
  opacity: 0.9;
}
.go-top-btn img {
  width: clamp(13px, 1.25vw, 24px);
}
@media screen and (max-width: 1600px) {
  .btn-arrow-img {
    width: 26px;
  }
  .header .navbar {
    padding: 9px clamp(9px, 2.48vw, 48px) 8px;
  }
  .header .navbar .navbar-brand .logo {
    width: 5.05vw;
  }

  .footer-logo-container p {
    width: 22vw;
  }
  footer ul li {
    margin-bottom: 5px;
  }
  footer h3 {
    font-size: 15px;
  }
  footer a {
    font-size: clamp(11px, 0.8vw, 1rem);
  }
  .footer-content-container .footer-contact-form-container {
    width: clamp(120px, 24vw, 502px);
  }
  .footer-content-container .footer-contact-form-container form {
    padding: 5px;
  }
  .footer-content-container .footer-contact-form-container form input {
    padding-inline: 12px;
  }
  .copyright-container .follow-icons img {
    gap: 3px;
    
  }
  .copyright-container .follow-icons .linkedin{
    width: 24px;
  }
  .copyright-container .follow-icons .twitter{
    width: 22px;
  }
}

@media screen and (max-width: 1400px) {
  .btn {
    border-radius: 4px !important;
  }
  .btn-arrow-img {
    width: 23px;
  }
  .header .navbar {
    padding: 7px clamp(9px, 2.2vw, 48px) 8px;
  }
  .header .navbar .navbar-brand .logo {
    width: 5.1vw;
  }

  footer ul li {
    margin-bottom: 3px;
  }
  footer a {
    font-size: clamp(11px, 0.8vw, 1rem);
  }
  .footer-content-container .footer-contact-form-container form input {
    padding-inline: 10px;
  }
  .go-top-btn {
    bottom: 40px;
  }
  .copyright-container .follow-icons img {
    gap: 0px;
  }
  .copyright-container .follow-icons .linkedin{
    width: 20px;
  }
  .copyright-container .follow-icons .twitter{
    width: 18px;
  }
}

@media screen and (max-width: 1024px) {
  .btn {
    border-radius: 3px !important;
  }
  .btn-arrow-img {
    width: 19px;
  }
  .header .navbar {
    padding: 8px clamp(12px, 2.2vw, 48px) 8px;
  }

  .header .navbar .navbar-brand .logo {
    width: 52px;
  }
  .header .nav-link {
    font-size: 11px;
  }
  .footer-content-container {
    gap: 20px;
  }
  footer ul li {
    margin-bottom: 0px;
  }
  footer h3 {
    font-size: 13px;
  }
  footer a {
    font-size: clamp(11px, 0.8vw, 1rem);
  }
  .footer-content-container .footer-contact-form-container {
    width: clamp(240px, 27vw, 502px);
  }
  .footer-content-container .footer-contact-form-container form {
    padding: 4px;
  }
  .footer-content-container .footer-contact-form-container form input {
    padding-inline: 8px;
    border-radius: 3px;
  }
  .footer-logo-container {
    width: 35%;
  } 
  .footer-logo-container p {
    width: clamp(220px, 25vw, 25vw);
  }
  .footer-content-container .footer-contact-form-container h3 {
    width: 100%;
  }
  .copyright-container .follow-icons .linkedin{
    width: 17px;
  }
  .copyright-container .follow-icons .twitter{
    width: 15px;
  }
}

@media screen and (max-width: 768px) {
  .btn-arrow-img {
    width: 17px;
  }
  .reveal-text {
  transform: translateY(20px);
  transition: transform 0.6s ease-in;
}
  .header .navbar .navbar-toggler-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    
  }

  .header .navbar-toggler {
    border-radius: 0;
    padding: 0;
    border: none;
  }

  .navbar-toggler:focus {
    box-shadow: none !important;
  }
  .navbar-toggler:focus .navbar-toggler-icon {
    border: none;
  }

  .navbar-toggler-icon {
    display: none;
  }
  .header .navbar-nav {
    align-items: center;
  }
  .footer-content-container {
    flex-wrap: wrap;
    justify-content: start;
  }
  footer {
    padding: clamp(20px, 5vw, 5vw) clamp(20px, 5vw, 120px) clamp(12px, 1vw, 1vw);
  }
  .footer-logo-container {
    width: 60%;
  }
  .footer-logo-container p {
    width: 100%;
    margin-top: 15px;
  }
  .footer-content-container .quick-links {
    flex: 1;
  }
  .footer-content-container .quick-links h3 {
    text-align: center;
  }
  footer ul li {
    width: 57px;
    margin-inline: auto;
  }
  .footer-content-container .footer-contact-form-container {
    width: 60%;
  }
}

@media screen and (max-width: 576px) {
  footer a {
    font-size: 11px;
  }

  .footer-content-container .footer-contact-form-container h3 {
    width: 100%;
  }
  .footer-content-container .footer-contact-form-container form input {
    width: 80%;
  }
  .go-top-btn img {
    width: 13px;
  }
}

@media screen and (max-width: 480px) {
  .header .navbar-brand {
    margin: 0;
  }

  .copyright-container .follow-icons .linkedin{
    width: 13px;
  }
  .copyright-container .follow-icons .twitter{
    width: 11px;
  }
  .footer-logo-container,
  .footer-content-container div,
  .footer-content-container .footer-contact-form-container {
    width: 80%;
  }
  .footer-logo-container .footer-logo {
    width: 55px;
  }
  .footer-logo-container p {
    width: 100%;
  }
  .footer-content-container .quick-links h3 {
    text-align: left;
  }
  .footer-content-container .quick-links ul li {
    margin-inline: 0;
  }
  .footer-content-container {
    flex-direction: column;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 390px) {
  .header .container-fluid {
    --bs-gutter-x: 15px;
  }
  .header .navbar .contact-btn {
    font-size: 11px;
    padding: 4px 6px 3px;
  }
  .header .navbar .navbar-brand .logo {
    width: 45px;
  }
  footer h3 {
    font-size: 13px;
  }
  .footer-logo-container,
  .footer-content-container div,
  .footer-content-container .footer-contact-form-container {
    width: 100%;
  }
  .go-top-btn {
    right: 10px;
    bottom: 45px;
  }
}
