.header{
    background-color: #fff;
    position: sticky;
    top: 0;
}

.policy-section{
    position: relative;
    overflow: hidden;
}
.policy-section .heading{
    padding: clamp(35px, 5.52vw, 106px) 0 clamp(20px, 5.21vw, 101px ) clamp(20px, 3.5vw, 68px);
    background: linear-gradient(to right, #E6EDEC 1%, #99DDC9 100%);
}
.policy-section h2{
    font-size: clamp(20px, 4.167vw, 80px);
}
.policy-section .heading img{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: clamp(100px, 58.1vw, 1114px);
    height: auto;
}
.policy-section .policy-content-container{
    padding: clamp(25px, 5.21vw, 100px) clamp(20px, 18.25vw, 350px)  clamp(25px, 3.1vw, 59px) clamp(2px, 19.89vw, 381px) ;
    border-bottom: 1px solid rgba(102, 102, 102, 0.3);
}

.policy-section .policy-content-container .policy-card-container{
    gap: clamp(20px,2.87vw, 55px);
}

.policy-card-container .policy-card .policy-card-header h3{
    color: var(--black-color);
    font-size: clamp(16px, 1.25vw, 24px);
    margin-bottom: clamp(8px, 0.63vw,12px);
}
.policy-card-container .policy-card .policy-card-body{
    padding-inline: clamp(8px, 0.94vw, 18px);
}
.policy-card-container .policy-card .policy-card-body .policy-card-desc{
    font-size: clamp(13px,0.89vw,17px);
    line-height: 1.53;
}

.policy-card-container .policy-card .policy-card-body .policy-card-desc .mail-link{
    color: var(--green-color);
    
}
.policy-card-container .policy-card .policy-card-body .policy-card-desc .mail-link:hover{
    text-decoration: underline;   
}
    
.policy-card-container .policy-card .policy-card-body .policy-card-subdesc{
    margin-bottom: clamp(8px, 0.63vw,12px);
}

.policy-card-container .policy-card .policy-card-body ul{
    padding-left: clamp(15px, 3.23vw, 62px);
}
.policy-card-container .policy-card .policy-card-body ul li{
    font-size: clamp(13px,0.89vw,17px);
    line-height: 1.53;
    margin-bottom: clamp(8px, 0.63vw,12px);
    width: 95%;
}
.policy-card-container .policy-card .policy-card-body ul li::marker{
    color: var(--black-color);
}
.policy-card-container .policy-card .policy-card-body ul li strong{
    color: var(--black-color);
    font-weight:500;
}

.policy-section .policy-content-container .policy-text{
    padding-top: clamp(20px, 2.4vw, 45px);
    font-size: clamp(13px,0.89vw,17px);
    line-height: 1.53;
    width:94.7%;
    padding-inline: clamp(8px, 0.94vw, 18px);
}

@media screen and (max-width:1400px){
    .policy-section .policy-content-container{
        padding: clamp(25px, 5.21vw, 100px) clamp(20px, 12vw, 350px)  clamp(25px, 3.1vw, 59px) clamp(20px, 13.5vw, 381px) ;
    }
    .policy-section .policy-content-container .policy-text{
        width:98%;
    }
}

@media screen and (max-width:1024px){
    .policy-section .policy-content-container{
        padding: clamp(25px, 5.21vw, 100px) clamp(20px, 8vw, 350px) clamp(25px, 3.1vw, 59px) clamp(20px, 8vw, 381px) ;
    }
    .policy-card-container .policy-card .policy-card-body ul li{
        width: 100%;
    }
    .policy-section .policy-content-container .policy-text{
        width:100%;
    }
    .policy-card-container .policy-card .policy-card-body,.policy-section .policy-content-container .policy-text{
        padding-inline: 0;
    }

}

@media screen and (max-width:768px){
    .policy-section .policy-content-container{
        padding: clamp(25px, 5.21vw, 100px) clamp(20px, 5vw, 350px)  clamp(25px, 3.1vw, 59px) clamp(20px, 5vw, 381px) ;
    }
    .policy-card-container .policy-card .policy-card-header h3{
        font-size: 15px;
    }
    .policy-card-container .policy-card .policy-card-body .policy-card-desc,.policy-card-container .policy-card .policy-card-body ul li,.policy-section .policy-content-container .policy-text{
        font-size: clamp(12px,0.89vw,17px);
    }
}
@media screen and (max-width:576px){
    .policy-card-container .policy-card .policy-card-header h3{
        font-size: 14px;
    }
    .policy-card-container .policy-card .policy-card-body ul{
        margin-bottom: 0;
    }
    .policy-card-container .policy-card .policy-card-body ul li:last-of-type{
        margin-bottom: 0;
    }
}